.is-checked{
    border-color: #03bb0c;
    background-image: url("../../img/tick.png");
    background-repeat: no-repeat;
    background-position: right calc(.375em + .1875rem) center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}