.buttonsContainer{
    display:flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin:50px 0px;
    padding: 10px 0px;
    border-top: rgb(218, 211, 211) 1px solid;
    border-bottom: rgb(218, 211, 211) 1px solid;
}
Button{
    margin-left: 20px;
}