.productReview {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .productMainInfo {
    width: 50%;
    display: flex;
    gap: 15px;
  }
  .priceInfo {
    font-size: 1.1rem;
    width: 30%;
    display: flex;
    justify-content: space-between;
  }
}

.productTitle {
  align-self: center;
}
.productImage {
  width: 35%;
  img {
    width: 100%;
    height: auto;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
  }
}

@media screen and (max-width: 800px) {
  .productImage {
    width: 100%;
  }
  .productMainInfo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .priceInfo {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
