.summaryBox {
  display: grid;
  grid-template-columns: 2fr 50%;
  grid-gap: 1rem;
  border-radius: 5px;

  width: 50%;
  background-color: #e9ecef;
  box-sizing: border-box;
  padding: 15px;
}

.clientBox {
  box-sizing: border-box;
  padding: 5px;
}

.linebreak {
  margin-top: 40px;
}

.firstName {
  margin-right: 5px;
}
