@use "../../assets/styles/variables.scss" as v;
@use "../../assets/styles/layout.scss" as l;

.checkoutHeader {
  width: 100%;
  display: flex;
  justify-content: center;
}

.checkoutFormWrapper {
  width: 100%;
  .formBtnWrapper {
    display: flex;
    justify-content: space-between;
  }

  section {
    width: 100%;
  }
}

form {
  width: 30%;
  .selectContainer {
    margin: 30px 0;
  }
  .formButton {
    color: white;
    background-color: v.$purple;
    border-radius: 5px;
    border: none;
    padding: 5px;
    justify-self: center;
    &:disabled {
      opacity: 0.5;
    }
    &:hover {
      transition: 0.5;
      opacity: 0.8;
    }
  }
  .backLink {
    color: inherit;
    font-size: 14px;
    text-align: center;
  }
  .cancelFormBtn:hover {
    text-decoration: underline;
  }
}

// pay methods
.paymentFormWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .paymentSection {
    width: 45%;
  }
  .paymentForm {
    width: 60%;
  }
}
.methodsContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .methodsContainer {
    flex-direction: column;
  }
}
.secretFields {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  input {
    width: 50%;
  }
}
.conditionsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  font-size: 12px;
  #conditions {
    align-self: flex-start;
    width: 20px;
  }
}
