// General
.checkout {
  min-height: 620px;
}

// Payment page
.step-bottom {
  .payment-methods {
    height: 60px;
    input {
      display: none;
    }
    input:checked + .payment-method {
      border: 3px solid rgb(0, 0, 0);
    }

    .payment-method {
      height: 100%;
      width: 30%;
      border-radius: 3px;
      border: 1px solid gray;
      background-color: white;

      img {
        height: 150%;
        width: auto;
      }
    }
  }

  .accepted-methods {
    p {
      margin-bottom: 0;
    }
    .card-method {
      width: 50px;
      border: 1px solid gray;
      background-color: white;
      border-radius: 3px;
      margin-right: 10px;
    }
  }

  .form-and-card {
    flex-grow: 1;

    form,
    .card-illustration {
      width: 50%;
    }

    form {
      .form-group {
        width: 100%;
      }
      .short-input {
        width: 30%;
        margin-right: 20px;
      }
    }

    .card-illustration {
      background-color: yellow;
    }
  }
}
