.checkout__main--container {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100%;
}

.checkout__main--container--form {
  padding: 2% 0px;
}

.h2__formShopping{
  font-size: 1.5em;
}