.step__main--container {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.step__main--container--form {
  border-right: 2px solid rgb(230, 230, 230);
  padding: 2% 0px;
}

.h2__formShopping{
  font-size: 1.5em;
}

