.step1__main--container {
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-rows: 1fr;
  height: 100%;
  width: 100%;
}

.step1__main--container--form {
  border-right: 2px solid rgb(230, 230, 230);
  padding: 2%;
}

.cartItemsContainer {
  max-height: 50vh;
  overflow-y: scroll;
}

.gift {
  &__CardContainer {
    margin: 0 auto;
  }
  &__Form {
    display: flex;
    justify-content: space-around;
  }
  &__mockInput {
    width: 75%;
    // margin-right: 5px;
    background-color: rgb(235, 235, 235);
  }
  &__Btn {
    // margin-right: ;
  }
}
