#sidebar {
  padding: 20px;
  height: fit-content;
  border-radius: 5px;
  background-color: rgb(239, 239, 239);
  .sidebar-title {
    h2 {
      font-weight: bold;
    }
  }
  .sidebar-products {
    max-height: 50%;
    overflow: scroll;
  }
  .sidebar-disccount {
    label {
      flex-grow: 1;
    }
    button {
      width: fit-content;
      height: fit-content;
    }
  }
  // .sidebar-totals {
  // }
}
