.radio-border-box {
  border: 1px rgba(167, 167, 167, 0.808) solid;
  border-radius: 2px;
  display: inline-block;
  padding: 0 10px;
  margin-right: 20px;
}
.radio-border-box.selected {
  border: 1px black solid;
}
