.phoneWrapper {
  border-top: 1px solid #ced4da;
  background-color: #fff;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  display: flex;
  margin-top: 0.5rem;
  &.valid.form-control:hover {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }
  &.is-valid {
    background-color: rgb(232, 240, 254);
  }
}

.countryCode {
  min-width: 120px;
  outline: none;
  background-color: transparent;
  margin-top: -6px;
  margin-right: 20px;
  div,
  div:hover {
    border: 0px solid transparent;
    outline: none;
    box-shadow: none;
  }
  &:first-child div {
    background-color: transparent;
  }
}

.phone {
  border: 0px solid transparent;
  background-color: transparent;
  outline: none;
  color: #495057;
}

.options {
  background-color: white !important;
  color: #495057 !important;
}

.invalid-feedback-phone {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #dc3545;
}
