$red: rgb(191, 115, 115);
$base: #f4f3f0;
$mute: silver;

#checkout-steps {
  margin-top: 3.6rem;
  margin-bottom: 4rem;
  text-align: center;

  & .step {
    display: inline-block;
    color: $mute;
    border-top: 2px solid $mute;
    padding: 15px 25px;
    margin-left: -5px;
    &:first-of-type {
      padding-left: 0;
    }
    &:last-of-type {
      padding-right: 0;
    }
    &.active {
      border-color: $red;
      color: $red;
      font-weight: bolder;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+ElEQVQ4T6XTvSuFURwA4OcKq1tkMBmk3EEhi1lZbJRS1usf0B2sku1Ol0HZTEoGA2VAsdoQA2UUWQzCoFPvW3c47+nqPeP5eH4f/U5FyVUp+V4ODKOaYXf47hTOgUXUMIBHtP4L5Pd7cYKLDoB7HMZ6EKKf4SWBjGIKjRiwgk8cJYB6FuA0BkxgHhsJYA9r+IgBPdjHUgEwgpBBI5wXzcE2fvAeQYZwgPMUsIoZ7ERmYhJXeEgBu7jELG7asuhDF/oR7tzGSggR5rCFTTzhOSt3Oat9HGMhw6IeLGAa1zhuy2AQTbxiHV+pzxTG+i3SxG785vulf+Mf3OsrEhLi1BsAAAAASUVORK5CYII=)
        no-repeat center top;
    }
    &.complete {
      border-color: $red;
      color: $red;
    }
  }
}
