.navbar {
  width: 100%;
  .navbar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: red;
  }

  .right-nav {
    button {
      min-width: 80px;
      text-align: center;
      border: 1px solid white;
      border-radius: 3px;
    }
  }
}
