.formulario {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 0 2% 0;
}
.selectTel {
  width: 12%;
  padding: 0.5rem;
}
.prueba {
  width: 88%;
}
