.progressBar__container{
	background-color: #d8d8d8;
	border-radius: 20px;
	position: relative;
	margin: 15px 0;
	height: 30px;
	width: 300px;
}

.progress-done{
	background: linear-gradient(to left, #F2709C, #FF9472);
	box-shadow: 0 3px 3px -5px #F2709C, 0 2px 5px #F2709C;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0%;
	opacity: 0;
	transition: 1s ease 0.3s;
}

:root{
	--line-border-fill: green;
	--line-border-empty: grey;
}

.container__temp{
	width: 100%;
	padding: 0px 20%;
}

.btn__container_temp{
	display: flex;
	justify-content: center;
	gap:30px;
}

.progress__container{
	position: relative;
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 10px;
	margin-top: 10px;
	width: 100%;
	// padding: 10px 20%;
}

.progress__bar{
	background-color: var(--line-border-fill);
	top:50%;
	left:0;
	transform: translateY(-50%);
	position: absolute;
	height: 4px;
	width: 0%;
	transition: 0.4s ease;
	z-index: 50;
}

.progress__bar--grey{
	content: "";
	background-color: var(--line-border-empty);
	top:50%;
	left:0;
	transform: translateY(-50%);
	position: absolute;
	height: 4px;
	width: 100%;
	transition: 0.4s ease;
}

.progress__circle{
	background-color: rgb(255, 255, 255);
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border:3px solid rgb(129, 129, 129);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	transition: 0.4s ease;
}

.progress__circle .material-icons{
	color: rgb(153, 153, 153);
	font-size: 15px;
}
.progress__circle.activeCircle{
	border-color: var(--line-border-fill);
}