.container {
  background-color: red;
  width: 100%;
  height: 10%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.btnForm {
  background-color: blue;
  color: white;
  width: 38%;
}

.form__container {
  padding: 2% 20%;
}
