$darkPink: #f72585;
$pink: #b5179e;
$purple: #7209b7;
$darkPurple: #560bad;
$purpledBlue: #480ca8;
$lightPurpledBlue: #3a0ca3;
$darkBlue: #3f37c9;
$blue: #4361ee;
$lightBlue: #4895ef;
$skyBlue: #4cc9f0;
